// Map des couleurs répétées sur le site

$colours: (
    violet: #9356DC,
    rose: #FF79DA,
    vert: #99E2D0,
    grey: #dfdfdf,
    lightgrey: #f6f6f6
);

// Map des breakpoints pour les media queries

$breakpoints: (
    tablette: 768px,
    desktop: 992px
);

// Mixin pour centrer horizontalement

@mixin flex-center{
    display: flex;
    justify-content: center;
}

// Mixin pour les boutons commander de chaque restaurant 

@mixin button{
    background-image: linear-gradient(170deg, map-get($colours, rose), map-get($colours, violet));
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    height: 40px;
    box-shadow: 0 0 5px #9e7091;
    border: 0;
    transition-duration: 0.6s;
    &:hover{
        box-shadow: 0 0 5px #350f2a;
        background-color: white;
    }
}

// Mixin pour le format tablette

@mixin tablette-only {
    @media screen and (min-width: map-get($breakpoints, tablette)) and (max-width: map-get($breakpoints, desktop)) {
        @content; 
    }
}

// Mixin pour le format desktop

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

// Règles appliquées à toute la page

body{
    margin: 0;
    height: 100%;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Shrikhand', cursive;
    margin: 0;
}

h2, h3, p, li, button{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(236, 236, 236, 0.9);
    animation: loader 0.01s;
    animation-delay: 2.5s;
    animation-fill-mode: both;
    z-index: 10000;
    display:flex;
    align-items:center;
    justify-content:center;
    &__item{
      height: 15px;
      width: 15px;
      animation: 2s rotation;
      &Container{
        display: flex;
        width: 5rem;
        justify-content: space-between;
      }
      &--1{
        background-color: map-get($colours,violet);
      }
      &--2{
        background-color: map-get($colours, rose);
        animation-delay: 0.25s;
      }
      &--3{
        background-color: map-get($colours, vert);
        animation-delay: 0.5s;
      }
    }
}

@keyframes loader{
    100%{
      opacity: 0;
      z-index: -1;
    }
} 

@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg)
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

header{
    @include flex-center;
    align-items: center;
    height: 50px;
    @include desktop-only{
        height: 100px;
    }
    img{
        width: 40%;
        height: 50%;
        max-width: 200px;
        min-width: 100px;
        @include desktop-only{
           min-width: 20%;
           max-width: 300px;
        }
    }
}

.presentation{
    &__location{
        @include flex-center;
        align-items: center;
        background-color: map-get($colours, grey);
        border-top: 3px solid #D3D3D3;
        height: 40px;
        i{
            margin-right: 20px;
            @include desktop-only{
                margin-right: 30px;
            }
        }
        @include desktop-only{ 
            height: 80px;
            font-size: 20px;
            font-weight: 700;
        } 
    }
    &__title{
        text-align: center;
        background-color: map-get($colours, lightgrey);
       h2{
            font-weight: bold;
            font-size: 22px;
            margin: 0 15%;
            padding-top: 40px;
            @include desktop-only{
                font-size: 25px;
            } 
       } 
       p{
            font-weight: lighter;
            margin: 10px 10% 0 10%;
            font-size: 15px;
            color: #525252;
            @include desktop-only{
               font-size: 19px;
            } 
       }
    }
    &__button{
        @include flex-center;
        background-color: map-get($colours, lightgrey);
        button{
            @include button;
            margin: 20px 0 40px 0;
            min-width: 50%;
            @include desktop-only{
                min-width: 22%;
                height: 50px;
            }
        }
    }
}

.menu{
    h2{
        margin: 40px 20px 20px 20px;
    }
    &__buttons{
        @include desktop-only{
            display: flex;
        }
    }
    &__button{
        display: flex;
        align-items: center;
        margin: 0 20px 15px 10px;
        @include desktop-only{
            width: 30%;
        }
    }
    &__number{
        @include flex-center;
        align-items: center;
        background-color: map-get($colours, violet);
        border-radius: 50%;
        padding: 5px;
        min-height: 10px;
        min-width: 10px;
        max-width: 10px;
        max-height: 10px;
        font-size: 12px;
        color: white;
        position: relative;
        right: -10px;
    }
    button{
        height: 70px;
        width: 100%;
        border-radius: 18px;
        border: unset;
        background-color: map-get($colours, lightgrey);
        font-weight: bold;
        font-size: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &:hover{
            background-color: #eee3fc;
            i{
                color: map-get($colours, violet);
            }
        }
        i{
            font-size: 16px;
            margin: 0 20px;
            color: #696969;
        }
    } 
}

.restaurant{
    margin-top: 40px;
    background-color: map-get($colours, lightgrey);
    padding: 40px 0;
    @include desktop-only{
        padding: 35px 0;
    }
    h2{
        margin: 0px 20px 20px 20px;
        @include desktop-only{
            margin: 0 35px 20px 35px;
        }
    }
    &__cards{
        @include desktop-only{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0 35px;
            a{
                @include desktop-only{
                    width: 24%;
                }
            }
        } 
    }
    &__card{
        margin: 0 20px 15px 20px;
        min-width: 230px;
        box-shadow: 0px 5px 10px #dedede;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        @include desktop-only{
            margin: 0;
        }
    }
    &__image{
        position: relative;
        overflow: hidden;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        height: 160px;
        img{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition-property: width;
            transition-duration: 0.3s;
            transition-timing-function: ease; 
        }
    }
    &__new{
        position: relative;
        display: flex; 
        justify-content: flex-end;
        margin: 10px 10px 0 0;
        p{
            background-color: map-get($colours, vert);
            margin: 5px;
            padding: 8px;
            font-size: 14px;
            color: darken(#99E2D0, 40%);
            border-radius: 3px; 
        }
    }
    &__desc{
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    &__body{
        border-bottom-left-radius: 15px;
        height: 60px;
        padding-top: 15px;
        width: 80%;
    }
    &__title{
        margin: 0px 10px 5px 10px;
        font-weight: bold;
        font-size: 18px;
        p{
            margin: 0;
        }
    }
    &__location{
        margin: 0 10px 15px 10px;
        font-size: 16px;
        font-weight: 300;
        p{
            margin: 0;
        }
    }
    &__heart{
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 20px 0 0;
        .fa-heart{
            font-size: 22px;
            &:hover{
                animation: fill 1s ease-out;
                background: linear-gradient(map-get($colours, violet), map-get($colours, rose));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;  
            }
        }
    }
}

@keyframes fill{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

footer{
    background-color: #3B3B3B;
    color: white;
    padding: 20px;
    @include desktop-only{
        padding: 35px;
    }
    h1{
        font-size: 16px;
        @include desktop-only{
            margin-bottom: 20px;
        }
    }
}

.footer__services{
    
    ul{
        @include desktop-only{
            display: flex;
        }
        li{
            font-size: 16px;
            @include desktop-only{
                width: 25%;
            }
            i{
                font-size: 12px;
            }
            a{
                color: white;
            }
        }
    }
}