$colours: (
    violet: #9356DC,
    rose: #FF79DA,
    vert: #99E2D0,
    grey: #dfdfdf,
    lightgrey: #f7f5f5
);

@mixin flex-center{
    display: flex;
    justify-content: center;
}

body{
    margin: O;
}

ul{
    list-style: none;
    padding: 0;
}

h1{
    font-family: 'Shrikhand', cursive;
    margin: 0;
}

h2, h3, p, li{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{
    @include flex-center;
    align-items: center;
    height: 50px;
    margin: 0 20px;
    span{
        position: absolute;
        left: 25px;
    }
    i{
        color: black;
        font-size: 15px;
    }
    img{
        width: 40%;
        height: 50%;
        max-width: 200px;
        min-width: 100px;
    }
}

.image{
    overflow: hidden;
    @include flex-center;
    min-height: 120px;
    max-height: 320px;
    img{
        min-height: 150px;
        min-width: 350px;
        max-width: 100%;
        max-height: 400px;
    }
}

.menu{
    background-color: map-get($colours, lightgrey);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    top: -50px;
    &__title{
        display: flex;
        align-items: center;
        h1{
            margin: 30px 20px;
        }
    }
    &__entree{
        margin: 0 20px;
    }
    &__dish{
        margin: 0 20px;
    }
    &__dessert{
        margin: 0 20px;
    }
}

.entree__title, .dish__title, .dessert__title{
    h2{
        font-size: 15px;
        font-weight: 500;
        margin: 0 0 20px 0;
    }
}

.entree__card, .dish__card, .dessert__card{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 5px 10px rgb(184, 184, 184);
}

.card__title{
    font-weight: bold;
}

.card__description{
    overflow: scroll;
}

footer{
    background-color: #3B3B3B;
    color: white;
    padding: 20px;
    h1{
        font-size: 16px;
    }
}

.footer__services{
    ul{
        li{
            font-size: 16px;
        }
    }
}