$colours: (
    violet: #9356DC,
    rose: #FF79DA,
    vert: #99E2D0,
    grey: #dfdfdf,
    lightgrey: #f7f5f5
);

$breakpoints: (
    tablette: 768px,
    desktop: 992px
);

@mixin flex-center{
    display: flex;
    justify-content: center;
}

@mixin tablette-only {
    @media screen and (min-width: map-get($breakpoints, tablette)) and (max-width: map-get($breakpoints, desktop)) {
        @content; 
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

body{
    margin: 0;
    background-color: map-get($colours, lightgrey);
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Shrikhand', cursive;
    margin: 0;
}

h2, h3, p, li, button{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{
    @include flex-center;
    align-items: center;
    height: 50px;
    margin: 0 20px;
    @include desktop-only{
        height: 100px;
        margin: 0 35px;
    }
    span{
        position: absolute;
        left: 25px;
        @include desktop-only{
            left: 35px;
        }
    }
    i{
        color: black;
        font-size: 15px;
        @include desktop-only{
            font-size: 20px;
        }
    }
    img{
        width: 40%;
        height: 50%;
        max-width: 200px;
        min-width: 100px;
        @include desktop-only{
            min-width: 30%;
         }
    }
}

.image{
    overflow: hidden;
    @include flex-center;
    align-items: center;
    min-height: 200px;
    @include desktop-only{
        height: 100%;
        width: 100%;
    }
    img{
        min-height: 230px;
        min-width: 350px;
        max-width: 100%;
        max-height: 400px;
        @include desktop-only{
            height: 100%;
            width: 100%;
        }
    }
}

@keyframes fill{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.menu{
    background-color: map-get($colours, lightgrey);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    top: -40px;
    @include desktop-only{
        border-radius: 0px;
    }
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        @include desktop-only{
            margin: 0 35px;
            justify-content: center;
        }
        h1{
            margin: 30px 0;
            @include desktop-only{
                margin: 30px 2% 30px 0;
            }
        }
        .fa-heart{
            font-size: 22px;
            &:hover{
                animation: fill 1s ease-out;
                background: linear-gradient(map-get($colours, violet), map-get($colours, rose));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;  
            }
        }
    }
    &__presentation{
        @include desktop-only{
            display: flex; 
            justify-content: space-between;
            margin: 0 35px;
        }
    }
    &__entree{
        margin: 0 20px;
        @include desktop-only{
            width: 30%;
            margin: 0;
        }
    }
    &__dish{
        margin: 0 20px;
        @include desktop-only{
            width: 30%;
            margin: 0;
        }
    }
    &__dessert{
        margin: 0 20px;
        @include desktop-only{
            width: 30%;
            margin: 0;
        }
    }
    &__button{
        @include flex-center;
        button{
            margin: 30px 0 0 0;
            width: 50%;
            padding: 10px 0;
            border-radius: 25px;
            border: unset;
            box-shadow: 0 5px 10px #7e2e67;
            background-color: map-get($colours, rose);
            color: white;
            font-weight: bold;
            font-size: 14px;
            background-image:linear-gradient(170deg,map-get($colours,rose),map-get($colours,violet));
            @include desktop-only{
                max-width: 30%;
            }
        }
    }
}

.entree__title, .dish__title, .dessert__title{
    h2{
        font-size: 15px;
        font-weight: 500;
        margin: 0 0 20px 0;
        @include desktop-only{
            margin: 0 0 20px 0;
        }
        &:after{
            content: "";
            display: block;
            border-bottom: 3px solid map-get($colours, vert);
            width: 35px;
            height: 2px;
            @include desktop-only{
                width: 45px;
            }
        }
    }
}

.dish__title, .dessert__title{
    h2{
        margin: 30px 0 20px 0;
        @include desktop-only{
            margin: 0 0 20px 0;
        }
    }
}

.entree__card, .dish__card, .dessert__card{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(184, 184, 184); 
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
    @include desktop-only{
        margin-bottom: 20px;
    }
    &:hover{
        .entree__check, .dish__check, .dessert__check{
            width: 25%;
        }
        .entree__body, .dish__body, .dessert__body{
            text-overflow: clip ellipsis;
        }
        i{
            transform: rotate(0deg);
        }
    } 
}

.entree__body, .dish__body, .dessert__body{
    width: 100%;
    height: 60px;
    padding: 6px 10px;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    background-color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.entree__check, .dish__check, .dessert__check{
    width: 0px;
    overflow: hidden;
    transition: width 500ms;
    background-color: map-get($colours, vert);
    border-radius: 0 10px 10px 0;
    @include flex-center;
    align-items: center;
    i{
        font-size: 20px;
        transform: rotate(210deg);
        transition: transform 500ms;
        color: white;
    }
}

.card__title{
    font-weight: bold;
    font-size: 16px;
}

.card__description{
    color: rgb(88, 88, 88);
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    span{
        margin-left: 10%;
        font-size: 15px;
        font-weight: bold;
        color: black;
    }
}

footer{
    background-color: #3B3B3B;
    color: white;
    padding: 20px;
    @include desktop-only{
        padding: 35px;
    }
    h1{
        font-size: 16px;
        @include desktop-only{
            margin-bottom: 20px;
        }
    }
}

.footer__services{
    ul{
        @include desktop-only{
            display: flex;
        }
        li{
            margin-bottom: 8px;
            font-size: 16px;
            @include desktop-only{
                width: 25%;
            }
            i{
                font-size: 12px;
            }
            a{
                color: white;
            }
        }
    }
}