// Map des couleurs répétées sur le site

$colours: (
    violet: #9356DC,
    rose: #FF79DA,
    vert: #99E2D0,
    grey: #dfdfdf,
    lightgrey: #f6f6f6
);

// Map des breakpoints pour les media queries

$breakpoints: (
    tablette: 768px,
    desktop: 992px
);

// Mixin pour centrer horizontalement

@mixin flex-center{
    display: flex;
    justify-content: center;
}

// Mixin pour les boutons commander de chaque restaurant 

@mixin button{
    background-image: linear-gradient(170deg, map-get($colours, rose), map-get($colours, violet));
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    height: 40px;
    box-shadow: 0 0 5px #9e7091;
    border: 0;
    transition-duration: 0.6s;
    &:hover{
        box-shadow: 0 0 5px #350f2a;
        background-color: white;
    }
}

// Mixin pour le format tablette

@mixin tablette-only {
    @media screen and (min-width: map-get($breakpoints, tablette)) and (max-width: map-get($breakpoints, desktop)) {
        @content; 
    }
}

// Mixin pour le format desktop

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

// Règles appliquées à toute la page

body{
    margin: 0;
    background-color: map-get($colours, lightgrey);
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Shrikhand', cursive;
    margin: 0;
}

h2, h3, p, li, button{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

// Header présent sur toutes les pages

header{
    @include flex-center;
    align-items: center;
    height: 50px;
    margin: 0 20px;
    @include desktop-only{
        height: 100px;
        margin: 0 35px;
    }
    span{
        position: absolute;
        left: 25px;
        @include desktop-only{
            left: 35px;
        }
    }
    i{
        color: black;
        font-size: 15px;
        @include desktop-only{
            font-size: 20px;
        }
    }
    img{
        width: 40%;
        height: 50%;
        max-width: 200px;
        min-width: 100px;
        @include desktop-only{
            min-width: 30%;
         }
    }
}

// Image d'un plat du restaurant

.image{
    overflow: hidden;
    @include flex-center;
    align-items: center;
    max-height: 450px;
    @include desktop-only{
        height: 100%;
        width: 100%;
    }
    img{
        min-height: 400px;
        min-width: 100%;       
        @include desktop-only{
            height: 100%;
            width: 100%;
        }
    }
}

// Keyframe pour le remplissage du coeur 

@keyframes fill{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.menu{
    background-color: map-get($colours, lightgrey);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    top: -40px;
    @include desktop-only{
        border-radius: 0px;
    }

    // Nom du restaurant

    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        @include desktop-only{
            margin: 0 35px;
            justify-content: center;
        }
        h1{
            margin: 30px 0;
            @include desktop-only{
                margin: 30px 2% 30px 0;
            }
        }
        .fa-heart{
            font-size: 22px;

            // Remplissage du coeur au survol de la souris 

            &:hover{
                animation: fill 1s ease-out;
                background: linear-gradient(map-get($colours, violet), map-get($colours, rose));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;  
            }
        }
    }

    // Mise en page des parties entrées, plats et desserts

    &__presentation{ 
        @include desktop-only{
            display: flex; 
            justify-content: space-between;
            margin: 0 35px;
        }
    }
    &__entree{
        margin: 0 20px;
        @include desktop-only{
            width: 30%;
            margin: 0;
        }
    }
    &__dish{
        margin: 0 20px;
        @include desktop-only{
            width: 30%;
            margin: 0;
        }
    }
    &__dessert{
        margin: 0 20px;
        @include desktop-only{
            width: 30%;
            margin: 0;
        }
    }

    // Bouton commander en bas de page

    &__button{  
        @include flex-center;
        button{
            @include button;
            margin: 30px 0 0 0;
            width: 50%;
            background-color: map-get($colours, rose);
            font-size: 14px;
            @include desktop-only{
                max-width: 30%;
            }
        }
    }
}

// Titre des différentes parties

.entree__title, .dish__title, .dessert__title{
    h2{
        font-size: 15px;
        font-weight: 500;
        margin: 0 0 20px 0;
        @include desktop-only{
            margin: 0 0 20px 0;
        }

        // Pseudosélecteur :after pour créer le soulignement du titre 
        
        &:after{
            content: "";
            display: block;
            border-bottom: 3px solid map-get($colours, vert);
            width: 35px;
            height: 2px;
            @include desktop-only{
                width: 45px;
            }
        }
    }
}

.dish__title, .dessert__title{
    h2{
        margin: 30px 0 20px 0;
        @include desktop-only{
            margin: 0 0 20px 0;
        }
    }
}

// Cards des entrées, plats et dessers

.entree__card, .dish__card, .dessert__card{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(231, 231, 231); 
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
    animation: appear 0.6s;
    animation-timing-function: cubic-bezier(.57,-0.3,.36,1.2);
    transform: scale(0);
    animation-fill-mode: both;
    @include desktop-only{
        margin-bottom: 20px;
    }

    // Animations au survol des cards entrées, plats et desserts

    &:hover{
        .entree__confirmation, .dish__confirmation, .dessert__confirmation{
            width: 30%;
        }
        .fa-circle-check{
            transform: rotate(0deg);
        }
    } 
}

// Keyframe de l'animation d'appariton des cards au chargement de la page menu

@keyframes appear{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

// Délais en fonction de l'ordre des cards 

.delay1{
    animation-delay: 0.2s;
}

.delay2{
    animation-delay: 0.5s;
}

.delay3{
    animation-delay: 0.7s;
}

.delay4{
    animation-delay: 1s;
}

// Corps de la card contenant le titre et la description 

.entree__body, .dish__body, .dessert__body{
    width: 100%;
    height: 60px;
    padding: 6px 12px;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    background-color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// Titre de l'entrée, plat ou dessert

.card__title{
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// Description de l'entrée, plat ou dessert

.card__description{
    color: rgb(88, 88, 88);
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// Prix de l'entrée, plat ou dessert

.entree__price, .dish__price, .dessert__price{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: white;
    padding: 0 12px 8px 0;

}

// Check de validation au survol de la souris sur la card 

.entree__confirmation, .dish__confirmation, .dessert__confirmation{
    background-color: map-get($colours, vert);
    width: 0%;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow: hidden;
    transition-duration: 0.6s;
    .fa-circle-check{
        color: white;
        font-size: 22px;
        transform: rotate(180deg);
        transition-duration: 0.6s;
    }
}

// Footer avec ses liens 

footer{
    background-color: #3B3B3B;
    color: white;
    padding: 20px;
    @include desktop-only{
        padding: 35px;
    }
    h1{
        font-size: 16px;
        @include desktop-only{
            margin-bottom: 20px;
        }
    }
}

.footer__services{
    ul{
        @include desktop-only{
            display: flex;
        }
        li{
            margin-bottom: 8px;
            font-size: 16px;
            @include desktop-only{
                width: 25%;
            }
            i{
                font-size: 12px;
            }
            a{
                color: white;
            }
        }
    }
}