body {
  margin: 0;
  background-color: #f6f6f6;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

h2, h3, p, li, button {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  header {
    height: 100px;
    margin: 0 35px;
  }
}
header span {
  position: absolute;
  left: 25px;
}
@media screen and (min-width: 992px) {
  header span {
    left: 35px;
  }
}
header i {
  color: black;
  font-size: 15px;
}
@media screen and (min-width: 992px) {
  header i {
    font-size: 20px;
  }
}
header img {
  width: 40%;
  height: 50%;
  max-width: 200px;
  min-width: 100px;
}
@media screen and (min-width: 992px) {
  header img {
    min-width: 30%;
  }
}

.image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 450px;
}
@media screen and (min-width: 992px) {
  .image {
    height: 100%;
    width: 100%;
  }
}
.image img {
  min-height: 400px;
  min-width: 100%;
}
@media screen and (min-width: 992px) {
  .image img {
    height: 100%;
    width: 100%;
  }
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  top: -40px;
}
@media screen and (min-width: 992px) {
  .menu {
    border-radius: 0px;
  }
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  .menu__title {
    margin: 0 35px;
    justify-content: center;
  }
}
.menu__title h1 {
  margin: 30px 0;
}
@media screen and (min-width: 992px) {
  .menu__title h1 {
    margin: 30px 2% 30px 0;
  }
}
.menu__title .fa-heart {
  font-size: 22px;
}
.menu__title .fa-heart:hover {
  animation: fill 1s ease-out;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .menu__presentation {
    display: flex;
    justify-content: space-between;
    margin: 0 35px;
  }
}
.menu__entree {
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  .menu__entree {
    width: 30%;
    margin: 0;
  }
}
.menu__dish {
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  .menu__dish {
    width: 30%;
    margin: 0;
  }
}
.menu__dessert {
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  .menu__dessert {
    width: 30%;
    margin: 0;
  }
}
.menu__button {
  display: flex;
  justify-content: center;
}
.menu__button button {
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  height: 40px;
  box-shadow: 0 0 5px #9e7091;
  border: 0;
  transition-duration: 0.6s;
  margin: 30px 0 0 0;
  width: 50%;
  background-color: #FF79DA;
  font-size: 14px;
}
.menu__button button:hover {
  box-shadow: 0 0 5px #350f2a;
  background-color: white;
}
@media screen and (min-width: 992px) {
  .menu__button button {
    max-width: 30%;
  }
}

.entree__title h2, .dish__title h2, .dessert__title h2 {
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 20px 0;
}
@media screen and (min-width: 992px) {
  .entree__title h2, .dish__title h2, .dessert__title h2 {
    margin: 0 0 20px 0;
  }
}
.entree__title h2:after, .dish__title h2:after, .dessert__title h2:after {
  content: "";
  display: block;
  border-bottom: 3px solid #99E2D0;
  width: 35px;
  height: 2px;
}
@media screen and (min-width: 992px) {
  .entree__title h2:after, .dish__title h2:after, .dessert__title h2:after {
    width: 45px;
  }
}

.dish__title h2, .dessert__title h2 {
  margin: 30px 0 20px 0;
}
@media screen and (min-width: 992px) {
  .dish__title h2, .dessert__title h2 {
    margin: 0 0 20px 0;
  }
}

.entree__card, .dish__card, .dessert__card {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 5px 10px #e7e7e7;
  display: flex;
  overflow: hidden;
  margin-bottom: 10px;
  animation: appear 0.6s;
  animation-timing-function: cubic-bezier(0.57, -0.3, 0.36, 1.2);
  transform: scale(0);
  animation-fill-mode: both;
}
@media screen and (min-width: 992px) {
  .entree__card, .dish__card, .dessert__card {
    margin-bottom: 20px;
  }
}
.entree__card:hover .entree__confirmation, .entree__card:hover .dish__confirmation, .entree__card:hover .dessert__confirmation, .dish__card:hover .entree__confirmation, .dish__card:hover .dish__confirmation, .dish__card:hover .dessert__confirmation, .dessert__card:hover .entree__confirmation, .dessert__card:hover .dish__confirmation, .dessert__card:hover .dessert__confirmation {
  width: 30%;
}
.entree__card:hover .fa-circle-check, .dish__card:hover .fa-circle-check, .dessert__card:hover .fa-circle-check {
  transform: rotate(0deg);
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay1 {
  animation-delay: 0.2s;
}

.delay2 {
  animation-delay: 0.5s;
}

.delay3 {
  animation-delay: 0.7s;
}

.delay4 {
  animation-delay: 1s;
}

.entree__body, .dish__body, .dessert__body {
  width: 100%;
  height: 60px;
  padding: 6px 12px;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  background-color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__title {
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__description {
  color: #585858;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.entree__price, .dish__price, .dessert__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: white;
  padding: 0 12px 8px 0;
}

.entree__confirmation, .dish__confirmation, .dessert__confirmation {
  background-color: #99E2D0;
  width: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.6s;
}
.entree__confirmation .fa-circle-check, .dish__confirmation .fa-circle-check, .dessert__confirmation .fa-circle-check {
  color: white;
  font-size: 22px;
  transform: rotate(180deg);
  transition-duration: 0.6s;
}

footer {
  background-color: #3B3B3B;
  color: white;
  padding: 20px;
}
@media screen and (min-width: 992px) {
  footer {
    padding: 35px;
  }
}
footer h1 {
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  footer h1 {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 992px) {
  .footer__services ul {
    display: flex;
  }
}
.footer__services ul li {
  margin-bottom: 8px;
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  .footer__services ul li {
    width: 25%;
  }
}
.footer__services ul li i {
  font-size: 12px;
}
.footer__services ul li a {
  color: white;
}

/*# sourceMappingURL=menu1.css.map */
