body {
  margin: 0;
  background-color: #f7f5f5;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

h2, h3, p, li, button {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  header {
    height: 100px;
    margin: 0 35px;
  }
}
header span {
  position: absolute;
  left: 25px;
}
@media screen and (min-width: 992px) {
  header span {
    left: 35px;
  }
}
header i {
  color: black;
  font-size: 15px;
}
@media screen and (min-width: 992px) {
  header i {
    font-size: 20px;
  }
}
header img {
  width: 40%;
  height: 50%;
  max-width: 200px;
  min-width: 100px;
}
@media screen and (min-width: 992px) {
  header img {
    min-width: 30%;
  }
}

.image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
@media screen and (min-width: 992px) {
  .image {
    height: 100%;
    width: 100%;
  }
}
.image img {
  min-height: 230px;
  min-width: 350px;
  max-width: 100%;
  max-height: 400px;
}
@media screen and (min-width: 992px) {
  .image img {
    height: 100%;
    width: 100%;
  }
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu {
  background-color: #f7f5f5;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  top: -40px;
}
@media screen and (min-width: 992px) {
  .menu {
    border-radius: 0px;
  }
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  .menu__title {
    margin: 0 35px;
    justify-content: center;
  }
}
.menu__title h1 {
  margin: 30px 0;
}
@media screen and (min-width: 992px) {
  .menu__title h1 {
    margin: 30px 2% 30px 0;
  }
}
.menu__title .fa-heart {
  font-size: 22px;
}
.menu__title .fa-heart:hover {
  animation: fill 1s ease-out;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .menu__presentation {
    display: flex;
    justify-content: space-between;
    margin: 0 35px;
  }
}
.menu__entree {
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  .menu__entree {
    width: 30%;
    margin: 0;
  }
}
.menu__dish {
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  .menu__dish {
    width: 30%;
    margin: 0;
  }
}
.menu__dessert {
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  .menu__dessert {
    width: 30%;
    margin: 0;
  }
}
.menu__button {
  display: flex;
  justify-content: center;
}
.menu__button button {
  margin: 30px 0 0 0;
  width: 50%;
  padding: 10px 0;
  border-radius: 25px;
  border: unset;
  box-shadow: 0 5px 10px #7e2e67;
  background-color: #FF79DA;
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
}
@media screen and (min-width: 992px) {
  .menu__button button {
    max-width: 30%;
  }
}

.entree__title h2, .dish__title h2, .dessert__title h2 {
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 20px 0;
}
@media screen and (min-width: 992px) {
  .entree__title h2, .dish__title h2, .dessert__title h2 {
    margin: 0 0 20px 0;
  }
}
.entree__title h2:after, .dish__title h2:after, .dessert__title h2:after {
  content: "";
  display: block;
  border-bottom: 3px solid #99E2D0;
  width: 35px;
  height: 2px;
}
@media screen and (min-width: 992px) {
  .entree__title h2:after, .dish__title h2:after, .dessert__title h2:after {
    width: 45px;
  }
}

.dish__title h2, .dessert__title h2 {
  margin: 30px 0 20px 0;
}
@media screen and (min-width: 992px) {
  .dish__title h2, .dessert__title h2 {
    margin: 0 0 20px 0;
  }
}

.entree__card, .dish__card, .dessert__card {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 5px 10px #b8b8b8;
  display: flex;
  overflow: hidden;
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .entree__card, .dish__card, .dessert__card {
    margin-bottom: 20px;
  }
}
.entree__card:hover .entree__check, .entree__card:hover .dish__check, .entree__card:hover .dessert__check, .dish__card:hover .entree__check, .dish__card:hover .dish__check, .dish__card:hover .dessert__check, .dessert__card:hover .entree__check, .dessert__card:hover .dish__check, .dessert__card:hover .dessert__check {
  width: 25%;
}
.entree__card:hover .entree__body, .entree__card:hover .dish__body, .entree__card:hover .dessert__body, .dish__card:hover .entree__body, .dish__card:hover .dish__body, .dish__card:hover .dessert__body, .dessert__card:hover .entree__body, .dessert__card:hover .dish__body, .dessert__card:hover .dessert__body {
  text-overflow: clip ellipsis;
}
.entree__card:hover i, .dish__card:hover i, .dessert__card:hover i {
  transform: rotate(0deg);
}

.entree__body, .dish__body, .dessert__body {
  width: 100%;
  height: 60px;
  padding: 6px 10px;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  background-color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.entree__check, .dish__check, .dessert__check {
  width: 0px;
  overflow: hidden;
  transition: width 500ms;
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entree__check i, .dish__check i, .dessert__check i {
  font-size: 20px;
  transform: rotate(210deg);
  transition: transform 500ms;
  color: white;
}

.card__title {
  font-weight: bold;
  font-size: 16px;
}

.card__description {
  color: #585858;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.card__description span {
  margin-left: 10%;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

footer {
  background-color: #3B3B3B;
  color: white;
  padding: 20px;
}
@media screen and (min-width: 992px) {
  footer {
    padding: 35px;
  }
}
footer h1 {
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  footer h1 {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 992px) {
  .footer__services ul {
    display: flex;
  }
}
.footer__services ul li {
  margin-bottom: 8px;
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  .footer__services ul li {
    width: 25%;
  }
}
.footer__services ul li i {
  font-size: 12px;
}
.footer__services ul li a {
  color: white;
}

/*# sourceMappingURL=menu4.css.map */
