body {
  margin: 0;
  background-color: #f7f5f5;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

h2, h3, p, li, button {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  header {
    height: 100px;
    margin: 0 35px;
  }
}
header span {
  position: absolute;
  left: 25px;
}
@media screen and (min-width: 992px) {
  header span {
    left: 35px;
  }
}
header i {
  color: black;
  font-size: 15px;
}
@media screen and (min-width: 992px) {
  header i {
    font-size: 20px;
  }
}
header img {
  width: 40%;
  height: 50%;
  max-width: 200px;
  min-width: 100px;
}
@media screen and (min-width: 992px) {
  header img {
    min-width: 30%;
  }
}

.image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-height: 200px;
}
.image img {
  min-height: 230px;
  min-width: 350px;
  max-width: 100%;
  max-height: 400px;
}

.menu {
  background-color: #f7f5f5;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  top: -40px;
}
.menu__title {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .menu__title {
    margin: 0 35px;
  }
}
.menu__title h1 {
  margin: 30px 20px;
}
@media screen and (min-width: 992px) {
  .menu__title h1 {
    margin: 30px 0;
  }
}
@media screen and (min-width: 992px) {
  .menu__presentation {
    display: flex;
    justify-content: space-between;
    margin: 0 35px;
  }
}
.menu__entree {
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  .menu__entree {
    width: 30%;
    margin: 0;
  }
}
.menu__dish {
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  .menu__dish {
    width: 30%;
    margin: 0;
  }
}
.menu__dessert {
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  .menu__dessert {
    width: 30%;
    margin: 0;
  }
}
.menu__button {
  display: flex;
  justify-content: center;
}
.menu__button button {
  margin: 30px 0 0 0;
  width: 50%;
  padding: 10px 0;
  border-radius: 25px;
  border: unset;
  box-shadow: 0 5px 10px #7e2e67;
  background-color: #FF79DA;
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
}
@media screen and (min-width: 992px) {
  .menu__button button {
    max-width: 30%;
  }
}

.entree__title h2, .dish__title h2, .dessert__title h2 {
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 20px 0;
}
@media screen and (min-width: 992px) {
  .entree__title h2, .dish__title h2, .dessert__title h2 {
    margin: 0 0 20px 0;
  }
}
.entree__title h2:after, .dish__title h2:after, .dessert__title h2:after {
  content: "";
  display: block;
  border-bottom: 3px solid #99E2D0;
  width: 35px;
  height: 2px;
}
@media screen and (min-width: 992px) {
  .entree__title h2:after, .dish__title h2:after, .dessert__title h2:after {
    width: 45px;
  }
}

.dish__title h2, .dessert__title h2 {
  margin: 30px 0 20px 0;
}
@media screen and (min-width: 992px) {
  .dish__title h2, .dessert__title h2 {
    margin: 0 0 20px 0;
  }
}

.entree__card, .dish__card, .dessert__card {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 5px 10px #b8b8b8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.card__title {
  font-weight: bold;
}

.card__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #585858;
  font-size: 13px;
  margin: 5px 0 0 0;
}

footer {
  background-color: #3B3B3B;
  color: white;
  padding: 20px;
}
@media screen and (min-width: 992px) {
  footer {
    padding: 35px;
  }
}
footer h1 {
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  footer h1 {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 992px) {
  .footer__services ul {
    display: flex;
  }
}
.footer__services ul li {
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  .footer__services ul li {
    width: 25%;
  }
}

/*# sourceMappingURL=menu4.css.map */
