body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

h2, h3, p, li, button {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(236, 236, 236, 0.9);
  animation: loader 0.01s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__item {
  height: 15px;
  width: 15px;
  animation: 2s rotation;
}
.loader__itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader__item--1 {
  background-color: #9356DC;
}
.loader__item--2 {
  background-color: #FF79DA;
  animation-delay: 0.25s;
}
.loader__item--3 {
  background-color: #99E2D0;
  animation-delay: 0.5s;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
@media screen and (min-width: 992px) {
  header {
    height: 100px;
  }
}
header img {
  width: 40%;
  height: 50%;
  max-width: 200px;
  min-width: 100px;
}
@media screen and (min-width: 992px) {
  header img {
    min-width: 20%;
    max-width: 300px;
  }
}

.presentation__location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdfdf;
  border-top: 3px solid #D3D3D3;
  height: 40px;
}
.presentation__location i {
  margin-right: 20px;
}
@media screen and (min-width: 992px) {
  .presentation__location i {
    margin-right: 30px;
  }
}
@media screen and (min-width: 992px) {
  .presentation__location {
    height: 80px;
    font-size: 20px;
    font-weight: 700;
  }
}
.presentation__title {
  text-align: center;
  background-color: #f6f6f6;
}
.presentation__title h2 {
  font-weight: bold;
  font-size: 22px;
  margin: 0 15%;
  padding-top: 40px;
}
@media screen and (min-width: 992px) {
  .presentation__title h2 {
    font-size: 25px;
  }
}
.presentation__title p {
  font-weight: lighter;
  margin: 10px 10% 0 10%;
  font-size: 15px;
  color: #525252;
}
@media screen and (min-width: 992px) {
  .presentation__title p {
    font-size: 19px;
  }
}
.presentation__button {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}
.presentation__button button {
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  height: 40px;
  box-shadow: 0 0 5px #9e7091;
  border: 0;
  transition-duration: 0.6s;
  margin: 20px 0 40px 0;
  min-width: 50%;
}
.presentation__button button:hover {
  box-shadow: 0 0 5px #350f2a;
  background-color: white;
}
@media screen and (min-width: 992px) {
  .presentation__button button {
    min-width: 22%;
    height: 50px;
  }
}

.menu h2 {
  margin: 40px 20px 20px 20px;
}
@media screen and (min-width: 992px) {
  .menu__buttons {
    display: flex;
  }
}
.menu__button {
  display: flex;
  align-items: center;
  margin: 0 20px 15px 10px;
}
@media screen and (min-width: 992px) {
  .menu__button {
    width: 30%;
  }
}
.menu__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 5px;
  min-height: 10px;
  min-width: 10px;
  max-width: 10px;
  max-height: 10px;
  font-size: 12px;
  color: white;
  position: relative;
  right: -10px;
}
.menu button {
  height: 70px;
  width: 100%;
  border-radius: 18px;
  border: unset;
  background-color: #f6f6f6;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu button:hover {
  background-color: #eee3fc;
}
.menu button:hover i {
  color: #9356DC;
}
.menu button i {
  font-size: 16px;
  margin: 0 20px;
  color: #696969;
}

.restaurant {
  margin-top: 40px;
  background-color: #f6f6f6;
  padding: 40px 0;
}
@media screen and (min-width: 992px) {
  .restaurant {
    padding: 35px 0;
  }
}
.restaurant h2 {
  margin: 0px 20px 20px 20px;
}
@media screen and (min-width: 992px) {
  .restaurant h2 {
    margin: 0 35px 20px 35px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 35px;
  }
}
@media screen and (min-width: 992px) and (min-width: 992px) {
  .restaurant__cards a {
    width: 24%;
  }
}
.restaurant__card {
  margin: 0 20px 15px 20px;
  min-width: 230px;
  box-shadow: 0px 5px 10px #dedede;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
@media screen and (min-width: 992px) {
  .restaurant__card {
    margin: 0;
  }
}
.restaurant__image {
  position: relative;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 160px;
}
.restaurant__image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.restaurant__new {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 0;
}
.restaurant__new p {
  background-color: #99E2D0;
  margin: 5px;
  padding: 8px;
  font-size: 14px;
  color: #278870;
  border-radius: 3px;
}
.restaurant__desc {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurant__body {
  border-bottom-left-radius: 15px;
  height: 60px;
  padding-top: 15px;
  width: 80%;
}
.restaurant__title {
  margin: 0px 10px 5px 10px;
  font-weight: bold;
  font-size: 18px;
}
.restaurant__title p {
  margin: 0;
}
.restaurant__location {
  margin: 0 10px 15px 10px;
  font-size: 16px;
  font-weight: 300;
}
.restaurant__location p {
  margin: 0;
}
.restaurant__heart {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 20px 0 0;
}
.restaurant__heart .fa-heart {
  font-size: 22px;
}
.restaurant__heart .fa-heart:hover {
  animation: fill 1s ease-out;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  background-color: #3B3B3B;
  color: white;
  padding: 20px;
}
@media screen and (min-width: 992px) {
  footer {
    padding: 35px;
  }
}
footer h1 {
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  footer h1 {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 992px) {
  .footer__services ul {
    display: flex;
  }
}
.footer__services ul li {
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  .footer__services ul li {
    width: 25%;
  }
}
.footer__services ul li i {
  font-size: 12px;
}
.footer__services ul li a {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
